body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #456;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #f39c12;
}
h2 {
    color: #2ecc71
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
